<footer class="footer">
  <div class="wrapper">
    <div class="meta">
      <p class="copy">
        &copy; 2016 Axelerant. All Rights Reserved.
      </p>
    </div>
    <div class="links">
      <a href="https://www.twitter.com/axelerant"><span class="icon-twitter"></span></a>
      <a href="https://www.facebook.com/axelerant"><span class="icon-facebook"></span></a>
      <a href="https://www.linkedin.com/company/axelerant"><span class="icon-linkedin"></span></a>
      <a href="https://www.github.com/axelerant"><span class="icon-github"></span></a>
      <a href="https://plus.google.com/+Axelerant"><span class="icon-gplus"></span></a>
    </div>
  </div>
</footer>
