<nav class="toc">
  {% assign pages = site.pages | sort: "weight" %}

  <ul class="toc__list--one">
    {% for parent in site.toc %}
      <li class="toc__item--one">
        <h4>{{ parent }}</h4>
        <ul class="toc__list--two">
          {% for page in pages %}
            {% if page.parent == parent %}
              <li class="toc__item--two">
                <h5>
                  <a href={{ site.baseurl }}{{ page.url }}>{{ page.title }}</a>
                </h5>
                <ul class="toc__list--three">
                  {% for sub in page.subnav %}
                    <li class="toc__item--three">
                      <a href={{ site.baseurl }}{{ page.url }}{{ sub | split: " " | join: "-" | downcase | prepend: '#' }}>
                        {{ sub }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</nav>
