.site-header {
  background: #333;
  padding-top: 1rem;
  padding-bottom: 1rem;

  a {
    color: #fff;
  }
}

.logo {
  float: left;
  display: block;

  img {
    max-height: 90px;
  }
}


@media screen and (max-width: 480px) {
  .site-header {
    padding: 1rem .5rem;
  }

  .logo img {
    max-height: 70px;
  }
}
