.page__header {
  text-align: center;
  padding: 3rem 0;
  background: #F2632D;
}

.page__title  {
  font-size: 2.5rem;
  color: white;
}

.page__content {
  font-size: 1.125rem;
  padding: 2rem;
}

@media screen and (max-width: 480px) {
  .page__title {
    font-size: 1.5rem;
    padding: 0 1rem;
  }
  .page__content {
    padding: 2rem 1rem;
  }
}
